.about{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 10%;
}

.about span{
    color:#D4AF37;
    letter-spacing:8px;
    font-size:14px;
    font-weight:700;
    margin-bottom:30px;
}

.about h2{
    font-size:clamp(52px,7vw,96px);
    line-height:1;
    max-width:1100px;
    margin-bottom:40px;
    font-weight:900;
    color:white;
}

.about p{
    max-width:900px;
    font-size:24px;
    line-height:1.8;
    color:#d6d6d6;
}
.scroll{
    margin-top:80px;
    font-size:40px;
    color:#D4AF37;
    animation:bounce 2s infinite;
}

@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(12px);
}

}