.navbar {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 90px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 70px;

    z-index: 999;

    background: rgba(10, 10, 10, .35);

    backdrop-filter: blur(18px);

    border-bottom: 1px solid rgba(212, 175, 55, .15);

}

.logo img {

    width: 72px;

    transition: .4s;

}

.logo img:hover {

    transform: scale(1.08);

}

.menu {

    display: flex;

    gap: 45px;

}

.menu a {

    color: white;

    text-decoration: none;

    font-weight: 600;

    letter-spacing: .5px;

    position: relative;

    transition: .35s;

}

.menu a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -8px;

    width: 0;

    height: 2px;

    background: #D4AF37;

    transition: .35s;

}

.menu a:hover {

    color: #D4AF37;

}

.menu a:hover::after {

    width: 100%;

}

.scrolled {
    height: 72px;
    background: rgba(5, 5, 5, .85);
    backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(212, 175, 55, .35);
    transition: all .35s ease;
}

.active {
    color: #D4AF37 !important;
}

.active::after {
    width: 100% !important;
}

.burger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 34px;
    cursor: pointer;
}

.mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(5, 5, 5, .97);
    backdrop-filter: blur(25px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    transition: right .45s ease;

    z-index: 9999;
}

.mobileOpen {
    right: 0;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;

    background: none;
    border: none;

    color: white;

    font-size: 40px;

    cursor: pointer;
}

.mobileMenu h2 {
    color: white;
    margin-bottom: 40px;
}

.mobileMenu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: .3s;
}

.mobileMenu a:hover {
    color: #D4AF37;
}

.mobileMenu span {
    margin-top: 40px;
    color: #D4AF37;
}

.mobileMenu small {
    color: #aaa;
}

@media (max-width:900px) {

    .menu {
        display: none;
    }

    .burger {
        display: block;
    }

}

.mobileLogo {
    width: 90px;
    margin-bottom: 10px;
}

.mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mobileLinks a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    transition: .3s;
}

.mobileLinks a:hover {
    color: #D4AF37;
    transform: translateX(6px);
}

.separator {
    width: 180px;
    height: 1px;
    background: rgba(212, 175, 55, .25);
    margin: 15px 0 20px;
}